@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
/* General Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article, header, section, aside, details, figcaption, figure, footer, hgroup, main, nav1, summary {
  display: block;
}

/* Body */
body {
  background: linear-gradient(to bottom, #fff 0, rgb(241, 230, 207) 25%, rgb(247, 211, 141)50%, #fff 100%);
  color: #222;
  font-size: 100%;
  line-height: 3.42857vw;margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

#about{
  margin-top: 6vw;
}
#why{
  padding-top: 4.5vw;
}
#gallery{
  margin-top: 4.5vw;
}
#testimonial{
  margin-top: 4vw;
}
#contact{
  margin-top: 4vw;
  margin-bottom: 1vw;
}

/* Header */
/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

#navbar {
  top: 0vw;
  left: 0;
  width: 100%;
  height: 4.706vw; /* Set your desired height */
  z-index: 999;
  background-color: transparent;
  position: fixed;
  margin-left: 0; /* Remove the margin-left */
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.176vw 1.176vw;

  

}



#navbar #nav {
  float: right;
  width: 100%;
  margin-left: 5.882vw;
  margin-top: 0.118vw;
 
  
}

.headerDetails li {
  list-style: none;
  display: inline-block;
}

.headerDetails li a {
  text-decoration: none;
  color:black;
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 1.176vw;
  position: relative;
  text-transform: uppercase;
}*/

li a.active {
  color: blue;
  transition: 0.2s all ease-in-out;
}

li a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.118vw;
  bottom: 0;
  left: 0;
  background-color: blue;
}

#logo img {
  height: 2.941vw; /* Set your desired logo height */
  
}

#nav li a:hover {
  color: rgb(236, 178, 62);
  transition: 0.2s all ease-in-out;
}





/*ScrollBar Design*/
::-webkit-scrollbar {
  width: 0.651vw;
  height: 0.3vw;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 1vw;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);
}

/*Section Home*/
#section1 {
  padding-top: 0;
  position: relative;
  height: 34vw;
}
.main_section{
  position: absolute;
  z-index: 1;
  background-position: center;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease-in .65s;
  animation: opacityIn 1s;
}
.main_section.main_section_01{
  right: 0;
  top: 0;
  background: linear-gradient(to bottom, #fff 0, rgb(241, 230, 207) 25%, rgb(247, 211, 141)50%, #fff 100%);
  background-position: center right;
  background-repeat: repeat-x;
  background-size: auto 100%;
  transition: opacity 1s ease-in .6s;
}
.wrap{
  position: relative;
  width: 100%;
  height: 100%;
}
.intro-wrap{
  min-height: 45.573vw;
  max-height: 58.594vw;
  position: relative;
  height: 100vh;
  padding: 7.161vw 0 0;
}
.wrap-content{
  position: relative;
  z-index: 3;
}
.introdetails {
  position: relative;
  z-index: 3;
  font-size: 3.8vw;
  min-width: 45.703vw;
  color: black;
  font-weight:550;
  text-transform: uppercase;
  margin-top: -6.510vw;
}
.introdetails #paragraph{
  font-size: 1.302vw;
  font-weight: 300;
  margin-bottom: 3.255vw;
  color: rgb(255, 193, 69);
}
.introdetails button{
  cursor: pointer;
  outline: 0!important;
  text-decoration: none!important;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 1.497vw 3.581vw;
  font-size: 1.042vw;
  letter-spacing: .075em;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 4.557vw;
  color: #eee;
  box-shadow: 0 1.497vw 3.711vw rgba(32,82,95,.44);
  background-image: linear-gradient(123deg,rgb(252, 173, 17) 0,rgb(250, 189, 68) 42%);
  background-size: 170% 100%;
  background-position: 0 0;
  transition: color .15s ease-in-out,background-position .25s ease-in-out,box-shadow .15s ease-in-out,opacity .25s ease-in;
}
.introdetails button:hover{
  background-position: 70% 0;
  box-shadow: 0 0.521vw 1.367vw -0.130vw rgba(32,82,95,.5);
}
.bg-figure{
  position: absolute;
  z-index: 1;
  background: #fff;
  border-radius: 2.930vw;
  box-shadow: 0 0 14.193vw rgba(152,177,210,.58);
  transition: opacity .4s linear,box-shadow 1s ease-out,-webkit-transform 1s ease-out;
  transition: opacity .4s linear,transform 1s ease-out,box-shadow 1s ease-out;
  transition: opacity .4s linear,transform 1s ease-out,box-shadow 1s ease-out,-webkit-transform 1s ease-out;
  transition-delay: .4s;
  animation: easing 1s;
}
 .bg-figure.bg-figure1{
     top: calc(50% - 22.786vw);
     right: 6.120vw;
     transform: translate(0,-50%) rotate(-20deg) skew(2deg);
     width: 97.656vw;
     height: 97.656vw;
}
 .d-flex {
     display: -webkit-flex!important;
     display: flex!important;
}
 .hb-phone {
     transition-delay: 1.1s;
     padding-right: 0;
     padding-left: 0;
     width: 15%;
}
 header .hb-phone{
     animation: topIn 1s;
}
 .hb-phone a .icon {
     margin-right: 0.521vw;
     font-size: 1em;
     vertical-align: bottom;
}
 .icon-phone {
     width: 1em;
}
 .icon {
     display: inline-block;
     width: 1em;
     height: 1em;
     stroke-width: 0;
     stroke: currentColor;
     fill: currentColor;
     vertical-align: top;
}
 .hb-phone a {
     font-size: 1vw;
     color: rgb(236, 178, 62);
     font-weight: 700;
     text-transform: uppercase;
     position: relative;
     display: block;
     line-height: 1;
     text-decoration: none;
     padding: 0.521vw 0.781vw;
     border-radius: 0.391vw;
     margin-left: -10vw;
}
 .hb-phone img{
     margin-right: 5%;
     height: 1.5vw;
     width: 1.5vw;
}
 .appointment{
     font-size: 0.868vw;
     position: absolute;
     width: 24.089vw;
     left: calc(50% + 17.974vw);
     z-index: 5;
     top: 24%;
     background-color: white;
     padding: 2%;
     border-radius: 2.214vw;
     text-align: center;
     animation: appointment 1s;
     box-shadow: 0 0 0.651vw lightgrey;
     transition: 1s all;
     height: 31vw;
     width: 25vw;
}
 #appointmentback{
     display: none;
}
 .appointmenttitle{
     font-size: 1.563vw;
     color: black;
}
 .appointmenttitle p{
     font-size: 0.911vw;
     margin-top: 0;
     margin-bottom: 10%;
}
 #select1{
     animation: appointmentinput 0.2s;
     animation-delay: 2s;
}
 #select2{
     animation: appointmentinput 0.2s;
     animation-delay: 2.2s;
}
 #select3{
     animation: appointmentinput 0.2s;
     animation-delay: 2.4s;
}
 #select4{
     animation: appointmentinput 0.2s;
     animation-delay: 2.6s;
}
 #select5{
     animation: appointmentinput 0.2s;
     animation-delay: 2.8s;
}
 .appointment select{
     width: 100%;
     border: none;
     background-color: #cffde7;
     background-color: #e7f6ff;
     border-radius: 2.214vw;
     padding: 0.977vw 1.302vw;
     margin-bottom: 1.302vw;
     cursor: pointer;
}
 .appointment input{
     width: 100%;
     border: none;
     background-color: #cffde7;
     background-color: rgb(253, 235, 201);
     border-radius: 2.214vw;
     padding: 0.977vw 1.302vw;
     margin-bottom: 1.302vw;
     cursor: pointer;
}
 .appointment button{
     margin-left: 2.3vw;
     margin-top: 1vw;
     height: 2.5vw;
     width: 10vw;
     background-color: rgb(255, 193, 69);
     color: white;
     border: none;
     border-radius: 2vw;
     padding: 0.977vw 1.302vw;
     cursor: pointer;
     border: 0.065vw solid black;
     transition: 0.3s all;
     box-shadow: 0 0.781vw 1.823vw rgba(32,82,95,.44);
}
 .appointment button p{
     font-size: large;
     padding-top: 0.2vw;
     margin-top: -1vw;
}
 .appointment button:hover{
     box-shadow: 0 0.260vw 0.651vw -0.130vw rgba(32,82,95,.5);
}
 .appointment select:focus, .appointment input:focus, .appointment button:focus{
     outline: none;
}
 .appointmentData{
     margin-top: 10%;
}
.flt {
  float: left;
  width: 100%;
}
ul {
  padding: 0vw;
  margin: 0vw;
}

/*About Section*/
 .about_container {
     padding: 6vw 0vw 9vw 0vw;
     background: transparent;
}
 .about_head {
     font-weight: 600;
     font-size: 2.5vw;
     line-height: 2vw;
     color: black;
     text-align: center;
     margin-bottom: 4vw;
}
 .about_container .row {
     align-items: center;
}
 .about_right {
     margin-top: 0;
     padding: 1.953vw;
     border-radius: 5%;
     font-weight: 300;
     font-size: 0.977vw;
     text-transform: capitalize;
     text-align: justify;
     color: rgb(51 51 51);
     background: rgba(255,255,255,0.5);
}
 .about_right p{
     color: black;
}

/*Why Section*/
.why_container {
  padding: 6vw 0vw;
  background-image: url(../images/output-onlinepngtools.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Styles for why_box */
.why_box {
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  text-align: center;
  padding: 4vw 1vw;
  border: 0.3vw solid transparent;
  transition: 0.2s all ease-in-out;
  height: 18vw;
  float: left;
}

.why_box:hover {
  border: 0.3vw solid rgb(236, 178, 62);
  transition: 0.2s all ease-in-out;
}

/* Styles for why_head */
.why_head {
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 3vw;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5vw;
}

/* Styles for why_txt */
.why_txt {
  font-weight: 400;
  font-size: 1.5vw;
  color: black;
  margin-top: 1.25vw;
}


/*Gallery Section*/
 .gallery_container {
     padding: 4vw 0vw;
}
 .gallery_head {
     font-weight: 600;
     font-size: 2.5vw;
     line-height: 3vw;
     color: black;
     text-align: center;
     margin-bottom: 3.5vw;
}
 .pricing_container{
     background-color: linear-gradient(to bottom,#fff 50%,#abffd6 10%);
}

/*Testimonial Section*/
 .testimonial_container {
     padding: 4vw 0vw 5vw 0vw;
     background: linear-gradient(to right,rgb(241, 182, 64) 0,rgb(245, 232, 206) 100%);
     position: relative;
}
 .testimonial_head {
     font-weight: 600;
     font-size: 2.5vw;
     line-height: 3vw;
     color: black;
     text-align: center;
     margin-bottom: 5vw;
}
 .testimonial_box {
     height: 27vw;
     width: 23vw;
     text-align: center;
     background-color: rgb(255, 255, 255);
     padding: 1.5vw 2vw;
     transition: 0.3s all ease-in-out;
}
 .testimonial_slide {
     position: relative;
     transition: 0.3s all ease-in-out;
     margin: 0vw 0.941vw;
}
 .testimonial_image {
     position: relative;
     padding-bottom: 1vw;
}
 .testimonial_image img {
     height: 10vw;
     width: 10vw;
     margin: 0% auto;
     border-radius: 50%;
     border: 0.059vw solid rgb(165 165 165);
}
 .testimonial_name {
     font-weight: 600;
     font-size: 1.5vw;
     line-height: 1vw;
     color: black;
}
 .testimonial_designation {
     font-weight: 400;
     font-size: 0.8vw;
     line-height: 0.941vw;
     color: rgb(162 162 162);
     margin: 0.294vw 0vw 0.588vw 0vw;
}
 .testimonial_msg {
     text-align: justify;
     font-weight: 400;
     font-size: 0.824vw;
     line-height: 1.059vw;
     color: black;
}
 .testimonial_slide::before {
     content: '';
     left: 0vw;
     top: 0vw;
     background-color: rgb(236, 178, 62);
     height: 0.176vw;
     width: 45%;
     position: absolute;
     transition: 0.3s all ease-in-out;
}
 .testimonial_slide::after {
     content: '';
     left: 0vw;
     top: 0vw;
     background-color: rgb(236, 178, 62);
     height: 55%;
     width: 0.176vw;
     position: absolute;
     transition: 0.3s all ease-in-out;
}
 .testimonial_slide:hover::before {
     left: 55%;
     transition: 0.3s all ease-in-out;
}
 .testimonial_slide:hover::after {
     top: 55%;
     transition: 0.3s all ease-in-out;
}
 .testimonial_box::before {
     content: '';
     right: -0.059vw;
     bottom: 0vw;
     background-color: rgb(236, 178, 62);
     height: 0.176vw;
     width: 45%;
     position: absolute;
     transition: 0.3s all ease-in-out;
}
 .testimonial_box::after {
     content: '';
     right: -0.235vw;
     bottom: 0vw;
     background-color: rgb(236, 178, 62);
     height: 55%;
     width: 0.176vw;
     position: absolute;
     transition: 0.3s all ease-in-out;
}
 .testimonial_box:hover::before {
     right: 55%;
}
 .testimonial_box:hover::after {
     bottom: 45%;
}
 .testimonial_cont .slick-prev.slick-arrow {
     height: 1.529vw;
     width: 1.529vw;
     display: inline-block;
     color: transparent;
     border: 0vw;
     position: absolute;
     left: 44%;
     bottom: -2.353vw;
     z-index: 9;
     background-color: transparent;
}
.testimonial_cont .slick-prev.slick-arrow::before {
     position: absolute;
     content: '';
     background-image: url('../images/testimonial-arrow-left.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     opacity: 70%;
     top: 0vw;
     left: 0vw;
     height: 100%;
     width: 100%;
}
 .testimonial_cont .slick-next.slick-arrow {
     height: 1.529vw;
     width: 1.529vw;
     display: inline-block;
     color: transparent;
     border: 0vw;
     position: absolute;
     right: 44%;
     bottom: -2.353vw;
     z-index: 9;
     background-color: transparent;
}
 .testimonial_cont .slick-next.slick-arrow::before {
     position: absolute;
     content: '';
     background-image: url('../images/testimonial-arrow-right.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     opacity: 70%;
     top: 0vw;
     left: 0vw;
     height: 100%;
     width: 100%;
}
 .testimonial_car {
     position: absolute;
     left: 0vw;
     bottom: 0vw;
}

/*ContactUs Section*/
 .contact_container {
     padding: 2.941vw 0vw;
}
 .contact_head {
     font-weight: 600;
     font-size: 2.5vw;
     line-height: 2.235vw;
     color: black;
     text-align: center;
     margin-bottom: 2.941vw;
}
 .contact_map iframe {
     border-radius: 0.588vw;
     height: 27vw;
}
 .contact_list .flt{
     width: 4.118vw;
     height: 5.882vw;
}
 .contact_list li {
     list-style-type: none;
     margin-bottom: 0.941vw;
     position: relative;
     padding-left: 2.353vw;
     font-weight: 400;
     font-size: 1.059vw;
     line-height: 1.529vw;
     color: black;
}
 .contact_list li a {
     color: black;
     text-decoration: none;
}
 .contact_list li img {
     position: absolute;
     left: 0vw;
     top: 0.235vw;
}
 .contact_title {
     margin-left: 1.176vw;
     font-weight: 500;
     font-size: 1.471vw;
     line-height: 1.765vw;
     color: black;
     margin-bottom: 1.941vw;
}
 .contact_title span {
     color: rgb(250, 169, 6);
}
 .contact_book {
     margin-top: 2.941vw;
}
 .contact_book a {
     display: flex;
     align-items: center;
     background: rgb(245 163 2);
     border-radius: 0.765vw;
     width: 14.706vw;
     justify-content: center;
     padding: 0.588vw 0vw;
     text-decoration: none;
}
 .contact_book span {
     font-weight: 600;
     font-size: 1.294vw;
     line-height: 1.588vw;
     color: rgb(0 0 0);
     text-transform: uppercase;
     margin-left: 0.588vw;
}
 .contact_container {
     position: relative;
     padding-bottom: 2.941vw;
}
 .contact {
     background: #e5ecfb;
     min-height: 60vh;
}
 .contact .heading{
     padding-top: 300rem;
     margin-bottom: 0.294vw;
     padding-bottom: 2rem;
}
 .contact .container {
     max-width: 61.765vw;
     width: 100%;
     background: #fff;
     border-radius: 1.5rem;
     margin: 0 rem 5rem;
     box-shadow: 0 0.294vw 0.588vw rgba(0, 0, 0, 0.15);
}
 .contact .container .content {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2.5rem 4rem;
}
 .contact .content .image-box {
     max-width: 60%;
     margin-left: 4rem;
}
 .contact .content .image-box img {
     width: 100%;
     height: 40rem;
     position: relative;
}
.contact .heading{
     text-align: center;
}
 .contact .container {
     margin-left: 8.824vw;
}

/*Footer Section*/
 .footer {
     height: 5.882vw;
     background: linear-gradient(to top,rgb(250, 196, 87) 0,rgb(248, 248, 248) 100%);
}
 .footer .box-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
 .footer .socials {
     flex: 1 1 25rem;
     margin-top: 0.059vw;
     margin: 0.294vw ;
     margin-left: 43vw;
}
 .social-icons a{
     margin-top: 0.588vw;
     margin-bottom: 0.118vw;
     margin-left: 1.765vw;
}
 .footer .credit {
     margin-top: 0.294vw;
     padding: 1rem 0 0 0;
     text-align: center;
     font-size: 1.5rem;
     font-family: "Nunito", sans-serif;
     font-weight: 600;
     color:black;
     border-top: 0.1rem solid #fff3;
}
 .footer .credit a {
     color: #ffae00;
     text-decoration: none;
}
 .footer .fa {
     color: white;
     margin: 0 0.3rem;
     font-size: 1.5rem;
     animation: pound 0.35s infinite alternate;
}
 @-webkit-keyframes pound {
     to {
         transform: scale(1.1);
    }
}
 @keyframes pound {
     to {
         transform: scale(1.1);
    }
}

 .footer_container {
     margin-top: 0.588vw;
     height:fit-content;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding: 1.176vw 0vw 2.353vw 0vw;
     text-align: center;
}
 .footer_link {
     margin-top: 0.588vw;
     margin-bottom: 1.471vw;
}
 .footer_link li {
     margin-top: 5.882vw;
     list-style-type: none;
     display: inline-block;
     padding: 0vw 0.941vw;
}
 .footer_link li a {
     font-weight: 500;
     font-size: 1.176vw;
     line-height: 0.882vw;
     color: rgb(255 255 255) !important;
     cursor: pointer;
     text-transform: uppercase;
     text-decoration: none;
}
 .footer_container .line{
     padding-top: 0vw;
}
 .social_media li {
     display: inline-block;
     padding: 0vw 0.765vw;
}
 .copyright {
     font-weight: 400;
     font-size: 0.706vw;
     line-height: 0.824vw;
     color: rgb(255 255 255);
     position: relative;
     margin-top: 1.765vw;
}
 .copyright::before {
     content: '';
     position: absolute;
     left: 50%;
     top: -1.471vw;
     transform: translateX(-50%);
     background-color: rgb(255 255 255);
     height: 0.059vw;
     width: 50%;
}
 .copyright a {
     color: rgb(255,255,255) !important;
}
 .socials {
     position: relative;
     margin-bottom: 5rem;
}
 .socials .social-icons {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
}
 .socials .social-icons li {
     display: inline-block;
     margin-top: auto;
}
 .social-icons a {
     font-size: 2rem;
     display: inline-block;
     line-height: 2.588vw;
     color: #00d9ff;
     background-color: #09011b;
     width: 2.588vw;
     height: 2.588vw;
     text-align: center;
     margin-right: 2.353vw;
     border-radius: 100%;
     -webkit-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}
 .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
     color: #fff;
     background-color: #0685da;
}
 .social-icons a.twitter:hover {
     background-color: #00aced;
}
 .social-icons a.facebook:hover {
     background-color: rgb(24, 119, 242);
}
 .social-icons a.dev:hover {
     background-color: #070707;
}
 .social-icons a.instagram:hover {
     background-color: rgb(225, 48, 108);
}
 .social-icons a.whatsapp:hover {
     background-color: #25D366;
}


























/*Responsiveness*/


@media (min-width: 319px) and (max-width: 480px) {
  /*Mobile Devices*/

  /* Styles for header */
  header{
   height: 0.5rem;
   display: none;
  }
  #navbar{
    height: 1rem;
    width: 50rem;
    margin-left: -4rem;
  }
  .headerDetails li a{
    font-size: 0.6rem;
  }
  .hb-phone{
  display: none;
  }
 
  #logo{
    display: none;
  }
   /* Styles for background figure */
  .bg-figure{
    display: none;
  }
   /* Styles for section1 */
  .introdetails{
    height: 29vh;
    width: auto;
    font-size: 3rem;
    margin-left: 7vh;
  }
  .introdetails #paragraph{
    font-size: 0.9rem;
    font-weight: 500;
  }
  .introdetails button{
    display: none;
  }
  .appointment{
    margin-top: 25vh;
    margin-left: -34vh;
    height: 30vh;
    width: 48vh;
  }
  .appointmenttitle{
    font-size: 2vh;
  }
  .appointmentData input{
    height: 3vh;
  }
  .appointment button{
    margin-top: 1.5vh;
    height: 3vh;
    width: 12vh;
    padding-bottom: 3vh;
  }
  .appointment button p{
    font-size: 2vh;
  }
  .main_section.main_section_01{
    background: linear-gradient(to bottom, #fff 0, rgb(241, 230, 207) 15%, rgb(247, 211, 141)40%, #fff 70%);;
  }
  /* Styles for about */
  #about{
    margin-top: 20vh;
  }
  .about_container{
    margin-left: -5vh;
  }
  .row .about_left img{
    margin-left: 8vh;
    height: 25vh;
    width: 30vh;
   
  }
  .row .about_right {
    margin-left: 40vh;
    margin-top: -24vh;
    height: 24vh;
    width: 15vh;
  }
  .row .about_right p{
    font-size: 0.8vh;
  }
  
  /* Styles for why */
  .why_box {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    text-align: center;
    padding: 4vw 1vw;
    border: 0.3vw solid transparent;
    transition: 0.2s all ease-in-out;
    height: auto; /* Adjust height to auto for mobile */
    margin-bottom: 5vw; /* Add some spacing between boxes */
    width: 100%;
  }
  .why_box:hover {
    border: 0.3vw solid rgb(236, 178, 62);
    transition: 0.2s all ease-in-out;
  }
  .why_head {
    font-weight: 600;
    font-size: 5vw; /* Increase font size for mobile */
    line-height: 6vw;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10vw; /* Increase spacing for mobile */
  }
  .why_txt {
    font-weight: 400;
    font-size: 4vw; /* Increase font size for mobile */
    color: black;
    margin-top: 3vw;
  }
  /* Styles for our services(gallery) */
  
  
  /* Styles for our Testimonial */
  .testimonial_car{
    display: none;
  }
  .testimonial_container{
    height: 45vh;
  }
  .slick-next.slick-arrow::before{
    display: none;
  }
  .slick-prev.slick-arrow::before{
    display: none;
  }
  .testimonial_slide{
    height: 35vh;
  }
  .testimonial_box{
    height: 30vh;
    width: 25vh;
    margin-left: 1.5vh;
    margin-top: 4vh;
    border-radius: 5%;
   
  }
  .testimonial_msg {
    font-size: small;
    line-height: 2vh;
  }
  .testimonial_slide::before{
    display: none;
  }
  .testimonial_slide::after{
    display: none;
  }
  .testimonial_box::before{
    display: none;
  }
  .testimonial_box::after{
    display: none;
  }
  /* Styles for Contact Us */
  .contact_head{
    margin-top: 3vh;
  }
  .contact_map {
    height: 20vh;
    width: 60%;
    margin-top: 3vh;
    border-radius: 5%;
    margin-bottom: 3vh;
  }
  .contact_right{
    margin-left: 35vh;
    margin-top: -23vh;   
  }
  .contact_list li{
    margin-left: -1vh;
  }
  .contact_list li img {
    margin-left: -2vh;
    height: 1vh;
    width: 1vh;
  }
  /* Styles for footer*/
  .footer {
    margin-top: 320vh;
    padding: 20px 0;
    height: 12vh;
  }
  .footer .socials {   
    margin-left: 18vh;
    margin-bottom: -4vh;
  }
  .social-icons a {
    font-size: 1.5rem;
    line-height: 36px;
    width: 36px;
    height: 36px;
    margin: 0 10px;
    border-radius: 50%;
  }
  .footer .credit {
    margin-top: 20px;
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
    border-top: 1px solid #fff3;
  }
  .footer_container {
    padding: 10px 0;
    background-size: auto;
  }
  .footer_link {
    margin: 10px 0 15px;
  }
  .footer_link li {
    margin: 10px 0;
    display: block;
  }
  .footer_link li a {
    font-size: 14px;
    line-height: 20px;
  }
  .social_media li {
    padding: 0 10px;
  }
  .copyright {
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
  }
  .socials {
    margin-bottom: 2rem;  
  }
  .socials .social-icons li {
    margin-bottom: 5px;   
  }
   .social-icons a {
    font-size: 1.2rem;
    line-height: 28px;
    width: 28px;
    height: 28px;
    margin: 0 5px;
  }
}


@media (min-width:481px) and (max-width:1200px){
  /*iPads and Tablets*/
 /* Adjustments for medium-sized screens */
  header{
    height: 0.7rem;
  }
  #navbar{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 3rem;
    width: 100%;
    
  }
  .headerDetails li a{
    font-size: 1rem;
    
  }
  #logo{
    padding-bottom: 0.5rem;
  }
  .appointment{
    margin-top: 3rem;
  }
  .appointment button{
    padding-bottom: 1.5rem;
    margin-left: -1.2rem;
  }
  .appointment button p{
    font-size: 1.2rem;
  }
  .about_right{
    height: 30rem;
    width: 20rem;
    margin-left: 17rem;
  }
  .why_box{
    height: 20rem;
  }
  .testimonial_container{
    height: 40vh;
    width: 100%;
  }
  .slick-next.slick-arrow::before{
    display: none;
  }
  .slick-prev.slick-arrow::before{
    display: none;
  }
  .testimonial_car img{
    height: 25vh;
  } 
  .testimonial_box{
    height: 22vh;
    width: 20vh;
    margin-left: 4vh;
    margin-top: 4vh;
    border-radius: 5%;
  }
  .testimonial_cont{
    height: 40vh;
    margin-left: -20vh;
    width: 150%;
  }
  .testimonial_msg {
    font-size: 1.2rem;
    line-height: 2vh;
  }
  .testimonial_slide::before{
    display: none;
  }
  .testimonial_slide::after{
    display: none;
  }
  .testimonial_box::before{
    display: none;
  }
  .testimonial_box::after{
    display: none;
  }
  .footer {
    height: 7.882vw;
    background: linear-gradient(to top,rgb(250, 196, 87) 0,rgb(248, 248, 248) 100%);
}
  .footer .socials{
    margin-left: 33rem;
  }
}



@media (min-width:1601px){
  /*Desktops*/
  #navbar {
    width: 100%;
  }
  
  .testimonial_box {
     width: 20.5vw; 
  }
  .testimonial_car{
    left: 1.5vw;
  }
  .testimonial_car img{
    height: 70vh;
    width: 50vw;
  }
  .footer .socials{
    margin-left: 41.176vw;
  }
  
}













